{% extends '@layout/default.html.twig' %}

{% block title %}Webmoney Payment{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Welcome to <span class="zf-green">WebMoney</span></h1>

        <form method="POST" action="{{ wm_url }}" accept-charset="utf-8">
            <input type="hidden" name="LMI_PAYMENT_DESC" value="{{ targets }}">
            <input type="hidden" name="LMI_PAYEE_PURSE" value="{{ receiver }}">
            <input type="hidden" name="LMI_PAYMENT_NO" value="{{ pay_id }}">
            <input type="hidden" name="label" value="{{ user_id }}">
            <input type="hidden" name="comment" value="{{ comment }}">
            <input type="text" name="LMI_PAYMENT_AMOUNT" value="{{ ammount }}" placeholder="Сумма">
            <input type="submit" value="Оплатить">
        </form>
    </div>
{% endblock %}
