<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title></title>
</head>
<body>
<table style="border-collapse:collapse;table-layout:fixed;min-width:320px;width:100%;background-color:#fff;" role="presentation" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td>
            <div role="section">
                <div style="background-color:#71bc37;">
                    <div style="margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                        <div style="border-collapse:collapse;display:table;width:100%;">
                            <div style="max-width:600px;min-width: 320px;width:320px;width:calc(28000% - 167400px);text-align:left;color:#8e959c;font-size:14px;line-height:20px;font-family:sans-serif;">
                                <div style="margin-left:20px;margin-right:20px;">
                                    <div style="line-height:80px;font-size:1px;">&nbsp;</div>
                                </div>

                                <div style="margin-left:20px;margin-right:20px;">
                                    <div>
                                        <h1 style="margin-top:0;margin-bottom:20px;font-style:normal;font-weight:normal;color:#000;font-size:40px;line-height:47px;font-family:Avenir,sans-serif;text-align:center;" lang="x-size-56">
                                            <strong><span style="color:#ffffff">{{ title }}</span></strong>
                                        </h1>
                                    </div>
                                </div>

                                <div style="margin-left:20px;margin-right:20px;">
                                    <div style="margin-bottom:20px;text-align:center;">
                                        <a style="border-radius:4px;display:inline-block;font-size:12px;font-weight:bold;line-height:22px;padding:10px 20px;text-align:center;text-decoration:none !important;transition:opacity 0.1s ease-in;color:#ffffff !important;border:1px solid rgba(0, 0, 0, 0.25);box-shadow:inset 0 -3px 0 -1px rgba(0, 0, 0, 0.2), inset 0 2px 1px -1px #ffffff;text-shadow:0 1px 0 rgba(0, 0, 0, 0.21);background-color:#1281e3;font-family:Avenir,sans-serif;" href="{{ activate }}" target="_blank" rel="noopener noreferrer">ВОССТАНОВИТЬ</a>
                                    </div>
                                </div>

                                <div style="margin-left:20px;margin-right:20px;">
                                    <div style="line-height:33px;font-size:1px;">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="line-height:15px;font-size:15px;">&nbsp;</div>

                <div style="margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                    <div style="border-collapse:collapse;display:table;width:100%;background-color:#ffffff;">
                        <div style="text-align:left;color:#8e959c;font-size:14px;line-height:20px;font-family:sans-serif;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);">
                            <div style="margin-left:20px;margin-right:20px;">
                                <div style="line-height:22px;font-size:1px;">&nbsp;</div>
                            </div>

                            <div style="margin-left:20px;margin-right:20px;">
                                <h2 style="margin-top:0;margin-bottom:0;font-style:normal;font-weight:normal;color:#e31212;font-size:26px;line-height:34px;font-family:Avenir,sans-serif;text-align:center;">
                                    <span style="color:#adb3b9"><strong>Восстановление пароля</strong></span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="line-height:20px;font-size:20px;">&nbsp;</div>

                <div style="margin:0 auto;max-width:600px;min-width:320px;width:320px;width: calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                    <div style="border-collapse:collapse;display:table;width:100%;background-color:#ffffff;">
                        <div style="text-align:left;color:#8e959c;font-size:14px;line-height:20px;font-family: sans-serif;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);">
                            <div style="margin-left:20px;margin-right:20px;">
                                <div style="line-height:22px;font-size:1px;">&nbsp;</div>
                            </div>

                            <div style="margin-left:20px;margin-right:20px;">
                                <h2 style="margin-top:0;margin-bottom:0;font-style:normal;font-weight:normal;color:#e31212;font-size:17px;line-height:26px;font-family:Avenir,sans-serif;text-align:left;" lang="x-size-18">
                                    <span style="color:#000000">
                                        Здравствуйте, {{ login }}!<br>
                                        <br>Вы отправили запрос на восстановление пароля.
                                        <br>Для того чтобы задать новый пароль, кликните по кнопке <strong>АКТИВИРОВАТЬ</strong> и следуйте инструкциям на странице.<br>
                                        <br>Пожалуйста, проигнорируйте данное письмо, если оно попало к Вам по ошибке.<br>
                                        <br>С уважением, служба поддержки пользователей проекта.
                                    </span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="line-height:20px;font-size:20px;">&nbsp;</div>

                <div style="background-color:#281557;">
                    <div style="margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);overflow-wrap:break-word;word-wrap:break-word;word-break:break-word;">
                        <div style="border-collapse:collapse;display:table;width:100%;">
                            <div style="max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);text-align:left;color:#8e959c;font-size:14px;line-height:20px;font-family:sans-serif;">
                                <div style="margin-left:20px;margin-right:20px;">
                                    <div style="line-height:50px;font-size:1px;">&nbsp;</div>
                                </div>

                                <div style="margin-left:20px;margin-right:20px;">
                                    <h1 style="margin-top:0;margin-bottom:20px;font-style:normal;font-weight:normal;color:#000;font-size:30px;line-height:38px;font-family:avenir,sans-serif;text-align:center;" lang="x-size-36">
                                        <a style="text-decoration:none;transition:opacity 0.1s ease-in;color:#adb3b9;" href="{{ link }}" target="_blank" rel="noopener noreferrer">{{ title }}</a>
                                    </h1>
                                </div>

                                <div style="margin-left:20px;margin-right:20px;">
                                    <div style="margin-bottom:20px;text-align:center;">
                                        <a style="text-decoration:underline;transition:opacity 0.1s ease-in;color:#adb3b9;" href="{{ link }}" target="_blank" rel="noopener noreferrer">Netaggregator</a>,
                                        <span style="color:#adb3b9;">1359 "Москва-Сити", оф. 537</span>
                                    </div>
                                </div>

                                <div style="margin-left:20px;margin-right:20px;">
                                    <div style="line-height:15px;font-size:1px;">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="line-height:40px;font-size:40px;">&nbsp;</div>
            </div>
        </td>
    </tr>
</tbody>
</table>
</body>
</html>
